@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}
.swiper {
  display: flex;
  max-width: 900px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#video-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.logo {
  margin-top: 90px;
  max-width: 500px;
  max-height: 200px;
  margin-bottom: 60px;
}
#title {
  color: #fff;
  font-family: "Bebas Neue";
  font-weight: 600;
  max-width: 900px;
  text-align: center;
  margin-bottom: 50px;
}
.countdown {
  font-family: "Bebas Neue";
  display: flex;
  color: #fff;
  text-align: center;
}
.time {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-size: 32px;
  margin-bottom: 70px;
}
.time h1 {
  font-size: 60px;
}
.sound-button {
  font-size: 20px;
  color: #fff;
  padding: 5px 20px;
  border-radius: 10px;
  border: none;
  background-color: #000;
  box-shadow: 0 5px #f6b91b;
  outline: none;
  margin-bottom: 100px;
}
.sound-button:hover {
  opacity: 0.7;
}
.sound-button:active {
  box-shadow: 0 2px #f6b91b;
}
.sound-button:focus {
  outline: none;
}
.divv {
  min-width: 100px;
  min-height: 200px;
  background-color: #fff;
}
@media (max-width: 576px) {
  .logo {
    max-width: 300px;
    margin-bottom: 80px;
  }
  #title {
    font-size: 30px;
    max-width: 320px;
  }
  .countdown {
    display: block;
    margin-bottom: 40px;
  }
  .time {
    margin: 3px;
    font-size: 36px;
  }
  .time h1 {
    font-size: 36px;
  }
  .sound-button {
    padding: 5px 25px;
  }

  .trailer {
    width: 350px;
    height: 250px;
  }
  .row {
    display: block !important ;
  }
  .col {
    max-width: 300px;
  }
  .swiper {
    width: 500px;
  }
  .swiper img {
    width: 300px;
    height: 200px;
  }
  @media (max-height: 850px) {
    #video-background {
      height: 130vh;
    }
  }
}
@media (max-width: 920px) {
  .trailer {
    width: 380px;
    height: 250px;
  }
  .swiper {
    width: 800px;
  }
  .swiper img {
    width: 300px;
    height: 170px;
  }
}
@media (max-width: 420px) {
  .trailer {
    width: 300px;
    height: 200px;
  }
  .swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
  }
  .swiper img {
    width: 350px;
    height: 170px;
  }
}
@media (max-width: 290px) {
  #title {
    max-width: 230px;
  }
  .logo {
    max-width: 250px;
  }
  .trailer {
    width: 250px;
    height: 200px;
  }
  .swiper {
    width: 250px;
  }
  .swiper img {
    width: 240px;
    height: 170px;
  }
}
@media (max-width: 770px) {
  .row {
    display: block !important;
  }
}
.trailers {
  margin-bottom: 120px;
}
.cards-container {
  display: flex;
  margin-bottom: 50px;
}
.image-overlay {
  position: relative;
}

.cards-container img {
  max-width: 250px;
  height: 380px;
  max-height: 500px;
  -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, #0004);
  transform-origin: center;
  transform: perspective(800px) rotateY(25deg);
  transition: 0.5s;
}
.flags {
  height: 100px;
}

.cards-container .image-overlay:hover img {
  transform: perspective(800px) rotateY(0deg);
  opacity: 0.3;
}
.cards-container .image-overlay:hover p {
  transition: 0.8s;
  opacity: 1;
}
.text {
  position: absolute;
  color: #fff;
  top: 10px;
  left: 10px;
  font-family: "Bebas Neue";
  bottom: 0;
  font-size: 32px;
  width: 100%;
  max-width: 200px;
  height: 200px;
  opacity: 0;
  text-align: center;
  top: 40%;
}
.text-down {
  position: absolute;
  color: #fff;
  top: 10px;
  left: 10px;
  font-family: "Bebas Neue";
  bottom: 0;
  font-size: 18px;
  width: 100%;
  max-width: 200px;
  height: 200px;
  opacity: 0;
  text-align: center;
  top: 52%;
}
.division-title {
  color: #fff;
  font-size: 38px;
  font-family: "Bebas Neue";
  text-align: center;
}
.division-subtitle {
  color: #fff;
  font-size: 28px;
  font-family: "Bebas Neue";
  text-align: center;
  margin-bottom: 20px;
}
